<ion-content class="background" [fullscreen]="true">
  <div id="botones">
    <div id="mitadArriba">
      <ion-button id='btnLindo' color='success ' (click)="lindo()">Cosas Lindas
        <img id='imgLinda' src="../../assets/images/pulgarArriba.svg" alt="">
      </ion-button>
    </div>
    <div id="mitadAbajo">
      <ion-button id='btnFeo' color='danger' (click)="feo()">Cosas Feas

        <img id='imgFea' src="../../assets/images/pulgarAbajo.svg" alt="">

      </ion-button>
    </div>
  </div>

</ion-content>