<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col>

        <ion-title>linda</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col>
        <ion-button>tomar foto</ion-button>

      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>


  <!-- <ion-segment [(ngModel)]="galleryType">

    <ion-segment-button value="AllPhotos">
      <ion-label>Todas las fotos</ion-label>
    </ion-segment-button>

    <ion-segment-button value="MyPhotos">
      <ion-label>Mis fotos</ion-label>
    </ion-segment-button>

  </ion-segment> -->

  <!-- para que se visualizen las img -->

   <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-buttton>
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->


  

</ion-content>