#formulario{
  // background-color: aqua;
  margin-top: 20vw;
  
  background-color: transparent;
}

#iniciar{
  margin-top: 10vw;
}

#inputClave{
  // margin-top: 10vw;
  background-color: transparent;
}

#opcionesUsuarios{
  margin-top: 10vw;
}

ion-content.background{
  --background: url('../../assets/images/fondo.png') 0 0/100% 100% no-repeat;
}

#clave{
   background-color: transparent;
}

#inputs{
  margin-top: 10vh;
}